openai
langchain
langchain-community
langchain-openai
langchain-text-splitters
chromadb
pypdf
youtube-transcript-api
python-dotenv
streamlit
tiktoken
fastapi
uvicorn
pydantic
gspread
google-auth
pyjwt
requests
